# Application Server Config
PORT=8080
GIN_MODE=debug

# Database Config
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cobertura085?sslmode=disable

# JWT Auth Config
JWT_SECRET=super_secret_jwt_key_change_in_prod
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=168h

